{{define "title"}}LNDg - Channels{{end}}
{{define "content"}}
{{if .channels}}
<div class="w3-container w3-padding-small">
  <h2>Channel Performance</h2>
  <div class="w3-container w3-padding-small" style="overflow-x: scroll">
    <table id="channelsTable" class="w3-table-all w3-centered w3-hoverable">
      <thead>
        <tr>
          <th colspan="3">Channel</th>
          <th colspan="4">7-Day Activity And Revenue <small class="w3-round w3-border-small w3-border-grey">APY: {{str .apy_7day}}%</small></th>
          <th colspan="4">30-Day Activity And Revenue <small class="w3-round w3-border-small w3-border-grey">APY: {{str .apy_30day}}%</small></th>
          <th colspan="2"> Channel Health</th>
        </tr>
      </thead>
      <tr>
        <th onclick="sortTable(event.target, 0, 'String', 1)" width=1%>Channel ID</th>
        <th onclick="sortTable(event.target, 1, 'String', 1, 'a')">Peer Alias</th>
        <th onclick="sortTable(event.target, 2, 'int', 1)" width=1%>Capacity</th>
        <th onclick="sortTable(event.target, 3, 'int', 1)" title="7-Day Routed Out | Routed In">Routed Out | In</th>
        <th onclick="sortTable(event.target, 4, 'int', 1)" title="7-Day Rebalanced In | Rebalanced Out">Rebal In | Out</th>
        <th onclick="sortTable(event.target, 5, 'int', 1, 'small')" title="7-Day APY | CV (Channel Value: annualized revenue + assisted revenue">APY | CV</th>
        <th onclick="sortTable(event.target, 6, 'int', 1)" title="7-Day Revenue Out [Net Profits] | Assisted Revenue In">Out <small class="w3-round w3-border-small w3-border-grey">Profit</small> | In</th>
        <th onclick="sortTable(event.target, 7, 'int', 1)" title="30-Day Routed Out | Routed In">Routed Out | Routed In</th>
        <th onclick="sortTable(event.target, 8, 'int', 1)" title="30-Day Rebalanced In | Rebalanced Out">Rebal In | Out</th>
        <th onclick="sortTable(event.target, 9, 'int', 1, 'small')" title="30-Day APY | CV (Channel Value: annualized revenue + assisted revenue">APY | CV</th>
        <th onclick="sortTable(event.target, 10, 'int', 1)" title="30-Day Revenue Out [Net Profits] | Assisted Revenue In">Out <small class="w3-round w3-border-small w3-border-grey">Profit</small> | In</th>
        <th onclick="sortTable(event.target, 11, 'int', 1)" title="The count of updates is directly correlated to the space the channel takes up in your channel database." width=1%>Updates</th>
        <th onclick="sortTable(event.target, 12, 'String', 1)" title="The opener of the channel usually pays the closing costs during a co-operative close." width=1%>Opener</th>
      </tr>
      {{range .channels}}
      <tr>
        <td title="{{.funding_txid}}:{{.output_index}}"><a href="/channel?={{.chan_id}}" target="_blank">{{.short_chan_id}}</a></td>
        <td title="{{.remote_pubkey}}"><a href="{{$.graph_links}}/{{$.network}}node/{{.remote_pubkey}}" target="_blank">{{if eq (str .alias) ""}}{{slice ":12" .remote_pubkey}}{{else}}{{.alias}}{{end}}</a></td>
        <td title="Local Balance: {{intcomma .local_balance}}">{{str .mil_capacity}}M</td>
        <td>{{intcomma .amt_routed_out_7day}}M <small class="w3-round w3-border-small w3-border-grey">{{.routed_out_7day}}</small> | {{intcomma .amt_routed_in_7day}}M <small class="w3-round w3-border-small w3-border-grey">{{.routed_in_7day}}</small></td>
        <td>{{intcomma .amt_rebal_in_7day}}M <small class="w3-round w3-border-small w3-border-grey">{{.rebal_in_7day}}</small> | {{intcomma .amt_rebal_out_7day}}M <small class="w3-round w3-border-small w3-border-grey">{{.rebal_out_7day}}</small></td>
        <td><small class="w3-round w3-border-small w3-border-grey">{{str .apy_7day}}%</small> <small class="w3-round w3-border-small w3-border-grey">{{str .cv_7day}}%</small></td>
        <td>{{intcomma .revenue_7day}} <small class="w3-round w3-border-small w3-border-grey">{{intcomma .profits_7day}}</small> | {{intcomma .revenue_assist_7day}}</td>
        <td>{{intcomma .amt_routed_out_30day}}M <small class="w3-round w3-border-small w3-border-grey">{{.routed_out_30day}}</small> | {{intcomma .amt_routed_in_30day}}M <small class="w3-round w3-border-small w3-border-grey">{{.routed_in_30day}}</small></td>
        <td>{{intcomma .amt_rebal_in_30day}}M <small class="w3-round w3-border-small w3-border-grey">{{.rebal_in_30day}}</small> | {{intcomma .amt_rebal_out_30day}}M <small class="w3-round w3-border-small w3-border-grey">{{.rebal_out_30day}}</small></td>
        <td><small class="w3-round w3-border-small w3-border-grey">{{str .apy_30day}}%</small> <small class="w3-round w3-border-small w3-border-grey">{{str .cv_30day}}%</small></td>
        <td>{{intcomma .revenue_30day}} <small class="w3-round w3-border-small w3-border-grey">{{intcomma .profits_30day}}</small> | {{intcomma .revenue_assist_30day}}</td>
        <td title="Update Count: {{intcomma .num_updates}}">{{.updates}}%</td>
        <td title="Block Opened: {{.open_block}}">{{if .initiator}}Local{{else}}Remote{{end}}</td>
      </tr>
      {{end}}
    </table>
  </div>
</div>
{{end}}
{{if not .channels}}
<div class="w3-container w3-padding-small">
  <center><h1>You dont have any channels to analyze yet!</h1></center>
</div>
{{end}}
{{end}}
