{{define "title"}}LNDg - Rebalancing{{end}}
{{define "content"}}
<div id="rebalances_container" class="w3-container w3-padding-small">
  <div class="w3-container w3-padding-small table" style="overflow:auto;max-height:1000px">
    <table class="w3-table-all w3-centered w3-hoverable">
      <thead>
        <tr>
          <th title="Select outgoing channels for a manual rebalance request"><input onclick="[...document.getElementsByClassName('chan_id')].forEach(el => {el.checked = this.checked; el.onclick()} )" class="w3-check" type="checkbox"/></th>
          <th title="Public Key">PK</th>
          <th onclick="sortTable(this, 2, 'String')">Channel ID</th>
          <th onclick="sortTable(this, 3, 'String', 0, 'a')">Peer Alias</th>
          <th onclick="sortTable(this, 4, 'int')">Outbound Liquidity</th>
          <th onclick="sortTable(this, 5, 'int', 0, 'label')">Capacity</th>
          <th onclick="sortTable(this, 6, 'int')">Inbound Liquidity</th>
          <th>Rebalance</th>
          <th onclick="sortTable(this, 8, '%')" title="This ratio must be below the channel's Max Cost %.">Fee Ratio</th>
          <th title="When AR is ENABLED for the channel, the size of the rebalance attempts that should be tried during attempts to refill the channel.">Target Amt</th>
          <th title="When AR is ENABLED, the maximum percentage amount of the local fee rate that can be used for the max rebalancing cost.">Max Cost</th>
          <th title="When AR is NOT ENABLED for the channel, keep pushing OUT the channel until its outbound liquidity falls below the oTarget%.">Out Target</th>
          <th title="When AR is ENABLED for the channel, keep pulling IN to the channel until its inbound liquidity falls below the iTarget%.">In Target</th>
          <th><a href="/rebalancing?is_open=true&private=false&is_active=true&auto_rebalance=true">AR</a></th>
          <th title="The rate of successful rebalances on this channel.">7-Day Rate</th>
          <th onclick="sortTable(this, 15, 'String')">Active</th>
        </tr>
      </thead>
      <tbody id="rebalancingTable">
      </tbody>
    </table>
  </div>
  <div class="w3-container w3-padding-small">
    <h5 style="float:left" title="Select outgoing channels above">Manual Rebalance Request:</h5>
    <form style="padding-top:13px;padding-left:15em;" id="rebal_form" action="/rebalancer/" method="post">
      <span style="width:200px" class="input" data-unit="min" title="Run Time">
        <input placeholder="0" style="width:100%" id="duration" type="number" min="1" max="60" name="duration">
      </span>
      <span style="width:200px" class="input" data-unit="sats" title="Rebalance Amount">
        <input style="width:100%" placeholder="0" id="value" type="number" min="10" max="5000000" name="value">
      </span>
      <span style="width:200px" class="input" data-unit="ppm" title="Fee Limit">
        <input style="width:100%" placeholder="0" id="fee_limit" type="number" min="1" max="2500" name="fee_limit">
      </span>
      <input placeholder="Last Hop Pubkey" style="width:40%" id="last_hop_pubkey" type="text" name="last_hop_pubkey">
      <input type="submit" value="OK">
    </form>
  </div>
</div>
<script>
  // Server-Filter-Query-Params fuer das ausgelagerte rebalancing.js (request.GET).
  window.REB_AUTO_REBALANCE = {{.req_auto_rebalance}};
  window.REB_IS_ACTIVE = {{.req_is_active}};
</script>
<script src="/static/rebalancing.js"></script>
<script src="/static/rebalances_table.js"></script>
{{template "rebalances_table.html" (dict "count" 20 "load_count" 10 "title" "<a href=\"/rebalances\" target=\"_blank\">Rebalance Requests</a>" "payment_hash" "" "last_hop_pubkey" "")}}
{{template "local_settings.html" (dict "settings" .local_settings "title" "Auto-Rebalancer")}}
{{end}}
