{{define "title"}}LNDg - Routes{{end}}
{{define "content"}}
<script src="/static/rebalances_table.js"></script>
{{if .route}}
<div class="w3-container w3-padding-small">
  <h2>Route For : {{.payment_hash}}{{if .total_cost}} | Total Costs: {{str .total_cost}} [{{.total_ppm}}]{{end}}</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Attempt Id</th>
      <th>Step</th>
      <th>Amount</th>
      <th>Fee</th>
      <th title="The fee in PPM paid on this hop.">PPM</th>
      <th title="The cost to get the payment to this hop of the payment.">Cost To</th>
      <th>📍</th>
      <th>Alias</th>
      <th>Channel ID</th>
      <th>Channel Capacity</th>
    </tr>
    {{range $hop := .route}}
    <tr>
      <td>{{$hop.attempt_id}}</td>
      <td>{{$hop.step}}</td>
      <td>{{$hop.amt | intcomma}}</td>
      <td>{{$hop.fee | intcomma}}</td>
      <td>{{$hop.ppm | intcomma}}</td>
      <td>{{$hop.cost_to | intcomma}}</td>
      <td>{{if eq $hop.step 1}}📍{{else}}🔻{{end}}
      <td>{{if eq (str $hop.alias) ""}}---{{else}}{{$hop.alias}}{{end}}</td>
      <td><a href="/channel?={{$hop.chan_id}}" target="_blank">{{$hop.chan_id}}</a></td>
      <td>{{$hop.chan_capacity | intcomma}}</td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
{{if not .route}}
<div class="w3-container w3-padding-small">
  <center><h1>A route was not found for this payment hash!</h1></center>
</div>
{{end}}
{{template "rebalances_table.html" (dict "title" "Linked Rebalance" "payment_hash" .payment_hash "last_hop_pubkey" .last_hop_pubkey)}}
{{if .invoices}}
<div class="w3-container w3-padding-small">
  <h2>Linked Invoice</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Created</th>
      <th>Settled</th>
      <th width=25%>Payment Hash</th>
      <th>Value</th>
      <th>Amount Paid</th>
      <th>State</th>
      <th>Channel In Alias</th>
      <th width=10%>Channel In</th>
      <th><a href="/keysends" target="_blank">Keysend</a></th>
    </tr>
    {{range $invoice := .invoices}}
    <tr>
      <td title="{{$invoice.creation_date | djangodatetime}}">{{$invoice.creation_date | naturaltime}}</td>
      <td title="{{$invoice.settle_date | djangodatetime}}">{{if eq $invoice.state 1}}{{$invoice.settle_date | naturaltime}}{{else}}---{{end}}</td>
      <td><a href="/route?={{$invoice.r_hash}}" target="_blank">{{$invoice.r_hash}}</td>
      <td>{{$invoice.value | add "0" | intcomma}}</td>
      <td>{{if eq $invoice.state 1}}{{$invoice.amt_paid | intcomma}}{{else}}---{{end}}</td>
      <td>{{if eq $invoice.state 0}}Open{{else}}{{if eq $invoice.state 1}}Settled{{else}}{{if eq $invoice.state 2}}Canceled{{else}}{{$invoice.state}}{{end}}{{end}}{{end}}</td>
      <td>{{if eq $invoice.state 1}}{{if eq (str $invoice.chan_in_alias) ""}}---{{else}}{{$invoice.chan_in_alias}}{{end}}{{else}}---{{end}}</td>
      <td>{{if and (eq $invoice.state 1) (notNone $invoice.chan_in)}}<a href="/channel?={{$invoice.chan_in}}" target="_blank">{{$invoice.chan_in}}</a>{{else}}---{{end}}</td>
      <td title="{{$invoice.message}}">{{if notNone $invoice.keysend_preimage}}<a href="/keysends?={{$invoice.r_hash}}" target="_blank">Yes</a>{{else}}No{{end}}</td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
{{if .outgoing_htlcs}}
<div class="w3-container w3-padding-small">
  <h2>Outgoing HTLCs</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th width=10%>Channel Alias</th>
      <th>Forwarding Channel</th>
      <th width=10%>Forwarding Alias</th>
      <th>Amount</th>
      <th>Expiration</th>
      <th width=25%>Hash Lock</th>
    </tr>
    {{range $htlc := .outgoing_htlcs}}
    <tr>
      <td><a href="/channel?={{$htlc.chan_id}}" target="_blank">{{$htlc.chan_id}}</a></td>
      <td>{{if eq (str $htlc.alias) ""}}---{{else}}{{$htlc.alias}}{{end}}</td>
      <td>{{if eq (str $htlc.forwarding_channel) "0"}}---{{else}}<a href="/channel?={{$htlc.forwarding_channel}}" target="_blank">{{$htlc.forwarding_channel}}</a>{{end}}</td>
      <td>{{if eq (str $htlc.forwarding_alias) ""}}---{{else}}{{$htlc.forwarding_alias}}{{end}}</td>
      <td>{{$htlc.amount | intcomma}}</td>
      <td title="{{$htlc.blocks_til_expiration | intcomma}} blocks to {{$htlc.expiration_height | intcomma}}">{{$htlc.hours_til_expiration}} hours</td>
      <td>{{$htlc.hash_lock}}</td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
{{if .incoming_htlcs}}
<div class="w3-container w3-padding-small">
  <h2>Incoming HTLCs</h2>
  <table class="w3-table-all w3-centered w3-hoverable">
    <tr>
      <th>Channel ID</th>
      <th width=10%>Channel Alias</th>
      <th>Forwarding Channel</th>
      <th width=10%>Forwarding Alias</th>
      <th>Amount</th>
      <th>Expiration</th>
      <th width=25%>Hash Lock</th>
    </tr>
    {{range $htlc := .incoming_htlcs}}
    <tr>
      <td><a href="/channel?={{$htlc.chan_id}}" target="_blank">{{$htlc.chan_id}}</a></td>
      <td>{{if eq (str $htlc.alias) ""}}---{{else}}{{$htlc.alias}}{{end}}</td>
      <td>{{if eq (str $htlc.forwarding_channel) "0"}}---{{else}}<a href="/channel?={{$htlc.forwarding_channel}}" target="_blank">{{$htlc.forwarding_channel}}</a>{{end}}</td>
      <td>{{if eq (str $htlc.forwarding_alias) ""}}---{{else}}{{$htlc.forwarding_alias}}{{end}}</td>
      <td>{{$htlc.amount | intcomma}}</td>
      <td title="{{$htlc.blocks_til_expiration | intcomma}} blocks to {{$htlc.expiration_height | intcomma}}">{{$htlc.hours_til_expiration}} hours</td>
      <td>{{$htlc.hash_lock}}</td>
    </tr>
    {{end}}
  </table>
</div>
{{end}}
{{end}}
